{% load static %}

{% block title %}<h1><u>KMS</u></h1>{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="wrapper">
    <div class="title"><span>Login Form</span></div>
    <form method="post" action="{% url 'accounts:user_login' %}">
      {% csrf_token %}
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="text" name="username" placeholder="Username" required>
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" placeholder="Password" required>
      </div>
      <div class="pass">Forgot password?</a></div>
      <div class="row button">
        <input type="submit" value="Login">
      </div>
      <div class="signup-link">Not a member? <a href="{% url 'accounts:register' %}">Signup now</a></div>
    </form>
  </div>
</div>
{% endblock %}
